<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="styles.css" rel="stylesheet" type="text/css">
	<title>SockExchange: {{ Sock Title }}</title>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="header">
				<h1>SockExchange</h1>
			</div>
			<div class="nav">
				<a href="index.html">Home</a>
			</div>
			<div class="detail">
				<div style="background-color: COLOR;" class="sock-color"></div>
				<div class="sock-detail">
					<h2>{{ Sock Name }}</h2>
					<h4>${{ Price }} | {{ Quantity }} Remaining</h4>
					<p class="description">{{ Sock Description }}</p>
					<p class="extra-info">
						<ul>
							<li>Material: {{ Material }}</li>
							<li>Style: {{ Style }}</li>
							<li>Theme: {{ Theme }}</li>
							<li>Seller: {{ Seller }}</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>