<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link href="{% static "styles.css" %}" rel="stylesheet" type="text/css">
<head>
	<meta charset="UTF-8">
	<title>SockExchange: {{name}}</title>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="header">
				<h1>SockExchange</h1>
			</div>
			<div class="nav">
				<a href="/home/">Home</a>
			</div>
			<div class="detail">
				<div style="background-color: {{color}};" class="sock-color"></div>
				<div class="sock-detail">
					<h2>{{name}}</h2>
					<h4>${{price}}</h4>
					<p class="description">{{description}}</p>
					<p class="extra-info">
						<ul>
							<li>Material: {{material}}</li>
							<li>Style: {{style}}</li>
							<li>Theme: {{theme}}</li>
							<li>Seller: {{seller}}</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>