<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link href="{% static "styles.css" %}" rel="stylesheet" type="text/css">
<head>
	<meta charset="UTF-8">
	<title>SockExchange Home</title>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="header">
				<h1>SockExchange</h1>
			</div>
			<div class="nav">
				<a href="/home/">Home</a>
				<form method="POST" action="/search/">
					<input type='text' name='query' value='search'></input>
					<input type='submit' value='submit'></input>
				</form>
				{% if not request.COOKIES.auth %}
				<a href="/login/">Login</a>
				<a href="/signup/">Sign Up</a>
				{% else %}
				<a href="/create/">Create a Listing</a>
				<a href="/logout/">Logout</a>
				{% endif %}
			</div>
			{% if messages %}
			<div id="messages">
				{% for message in messages %}
				<h2>{{ message }}</h2>
				{% endfor %}
			</div>
			{% endif %}
			<div class="grid">
				<ul>
					<!-- For each sock -->
					
					<li class="sock-item">
						<a href="/detail/{{id1}}/">
							<div style="background-color: {{color1}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id1}}/">
							<h3>{{name1}}</h3>
						</a>
					</li>

					<li class="sock-item">
						<a href="/detail/{{id2}}/">
							<div style="background-color: {{color2}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id2}}/">
							<h3>{{name2}}</h3>
						</a>
					</li>

					<li class="sock-item">
						<a href="/detail/{{id3}}/">
							<div style="background-color: {{color3}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id3}}/">
							<h3>{{name3}}</h3>
						</a>
					</li>

					<li class="sock-item">
						<a href="/detail/{{id4}}/">
							<div style="background-color: {{color4}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id4}}/">
							<h3>{{name4}}</h3>
						</a>
					</li>

					<li class="sock-item">
						<a href="/detail/{{id5}}/">
							<div style="background-color: {{color5}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id5}}/">
							<h3>{{name5}}</h3>
						</a>
					</li>

					<li class="sock-item">
						<a href="/detail/{{id6}}/">
							<div style="background-color: {{color6}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{id6}}/">
							<h3>{{name6}}</h3>
						</a>
					</li>
					<!-- End For Each -->
				</ul>
			</div>
		</div>
	</div>
</body>
</html>