<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="styles.css" rel="stylesheet" type="text/css">
	<title>SockExchange Home</title>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="header">
				<h1>SockExchange</h1>
			</div>
			<div class="nav">
				<a href="index.html">Home</a>
			</div>
			<div class="grid">
				<ul>
					<!-- For each sock -->
					<li class="sock-item">
						<a href="{{ url }}">
							<div class="sock-color"></div>
						</a>
						<a href="{{ url }}">
							<h3>{{ Sock Name }}</h3>
						</a>
					</li>
					<!-- End For Each -->
				</ul>
			</div>
		</div>
	</div>
</body>
</html>