<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link href="{% static "styles.css" %}" rel="stylesheet" type="text/css">
<head>
	<meta charset="UTF-8">
	<title>SockExchange Search</title>
</head>
<body>
	<div class="main">
		<div class="main-content">
			<div class="header">
				<h1>SockExchange</h1>
			</div>
			<div class="nav">
				<a href="/home/">Home</a>
				{% if not request.COOKIES.auth %}
				<a href="/login/">Login</a>
				<a href="/signup/">Sign Up</a>
				{% else %}
				<a href="/create/">Create a Listing</a>
				<a href="/logout/">Logout</a>
				{% endif %}
				<form class="search" method="POST" action="/search/">
					<input type='text' name='query' value='search'></input>
					<input type='submit' value='Search'></input>
				</form>
			</div>
			
			<div class="grid">
				<h2>Search Results</h2>
				<ul>
					<!-- For each sock -->
					{% if dict.none %}
						{{dict.none}}
					{% else %}
					{% for sock in dict %}
					<li class="sock-item">
						<a href="/detail/{{sock.id}}/">
							<div style="background-color: {{sock.color}};" class="sock-color"></div>
						</a>
						<a href="/detail/{{sock.id}}/">
							<h3>{{sock.name}}</h3>
						</a>
					</li>
					{% endfor %}
				{% endif %}
					<!-- End For Each -->
				</ul>
			</div>
			{% if messages %}
			<div id="messages">
				{% for message in messages %}
				<h2>{{ message }}</h2>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</body>
</html>