@font-face {
    font-family: Gotham;
    src: url(GothamMedium.otf);
}

body {
	background: #21015A;
	font-family: Gotham, sans-serif;
}

p {
	font-size: 18px;
}

.main {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
	background: white;
}

.main-content {
	padding: 18px 2.5%;
	font-size: 0;
}

.header, .grid h2 {
	font-size: 18px;
}

.grid {
	padding-top: 36px;
}

.nav, .form {
	font-size: 18px;
	margin-bottom: 36px;
}

.search{
	display: inline-block;
}

.nav a {
	text-decoration: none;
	color: #6900A7;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 20px;
}

.nav a:hover {
	text-decoration: underline;
}

#messages {
	font-size: 18px;
	color: white;
	background: #5F7EFF;
	padding: 1% 18px;
}

input {
	font-family: Gotham, sans-serif;
}

input[type="submit"]  {
	background: #6900A7;
	color: white;
	font-family: Gotham, sans-serif;
	text-transform: uppercase;
	border: 1px #6900A7;
	padding: 3px;
}

.sock-item {
	margin-right: 2.5%;
	width: 30%;
	display: inline-block;
	height: 200px;
	font-size: 18px;
	margin-bottom: 36px;
}

.grid .sock-item:nth-child(3) {
	margin-right: 0;
}

.sock-color {
	width: 100%;
	height: 100px;
	background-color: #000;
	border: 1px solid #aaa;
}

.detail .sock-color {
	width: 200px;
	float: left;
	margin-right: 18px;
	margin-bottom: 18px;
}

.sock-detail {
	font-size: 18px;
}

.sock-item h3 {
	text-decoration: none;
	text-align: center;
}

.detail h2 {
	text-decoration: underline;
}

@media screen and (max-width:768px) {
	.detail .sock-color {
		float: none;
		width: 100%;
	}
}

